*,
*:after,
*:before {
  /*box-sizing: border-box;*/
  position: relative;
  padding: 0;
  margin: 0 auto;
  z-index: 1; }

body {
  color: #999999;
  font-family: 'Roboto', sans-serif; }

.header {
  display: inline-block;
  background-color: white;
  width: 100%;
  position: relative;
  padding: 10px; }
  .header .header__top {
    width: 80%;
    text-align: center;
    position: relative;
    margin-bottom: 10px; }
    .header .header__top div {
      display: inline-block;
      background-color: white; }
    .header .header__top .header__top__logo {
      font-size: 1.5em;
      position: absolute;
      top: 0;
      left: 9.7%; }
    .header .header__top .header__top__write {
      position: absolute;
      top: 0;
      right: 10%; }
  .header .header__nav {
    width: 80%;
    text-align: center; }
    .header .header__nav div {
      display: inline-block;
      letter-spacing: 1px;
      margin-right: 1%; }

/* Content Stuffs */
.content {
  height: 100%;
  background-color: #fafafa;
  padding: 20px; }
  .content .posting {
    width: 60%;
    background-color: white;
    padding: 30px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
    color: #737373; }
    .content .posting .posting__newpost {
      font-size: 1.2em;
      left: 10%;
      top: 10px;
      color: #999999;
      position: absolute;
      font-family: 'Noto Serif', serif; }
    .content .posting .posting__img {
      /*Stuff here */ }
    .content .posting .posting__info div {
      display: inline-block; }
    .content .posting .posting__info .posting__info__text {
      margin-left: 10px; }
      .content .posting .posting__info .posting__info__text div {
        display: block; }
    .content .posting .posting__description {
      margin-top: 10px;
      font-family: 'Noto Serif', serif; }

.profile-pic {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  z-index: 100; }

.highlight-text {
  color: #00ab6b; }

@media (max-width: 1010px) {
  .header .header__top {
    width: 100%; }
  .header .header__nav {
    width: 100%; } }

@media (max-width: 805px) {
  .header .header__nav {
    letter-spacing: 0px;
    font-size: 0.9em; } }

@media (max-width: 740px) {
  body {
    font-size: 0.8em; }
  .content .posting {
    width: 80%; }
  .profile-pic {
    width: 30px;
    height: 30px; } }

@media (max-width: 620px) {
  .header .header__nav {
    font-size: 0.5em; } }

@media (max-width: 585px) {
  .profile-pic {
    width: 30px;
    height: 30px; } }

@media (max-width: 560px) {
  body {
    font-size: 0.5em; }
  .profile-pic {
    width: 20px;
    height: 20px; }
  .content .posting .posting__newpost {
    left: 8%; } }

@media (max-width: 500px) {
  .header .header__nav {
    margin-right: 1%; } }
